@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Cores
#0A2463, #fb3640, #18a999,  rgb(6, 12, 31)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #0a2463;
}
h1 {
  margin: 50px 0;
  font-weight: 800;
  font-size: 3rem;
  color: #fb3640;
  text-transform: uppercase;
}
.align {
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  max-width: 1280px;
  border-radius: 10px;
  background-color: rgb(6, 12, 31);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  height: 100%;
}
.input-button {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

#input {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(225, 225, 225);
  width: 100%;
  outline: none;
  border: none;
  transition: all 0.5s;
}
#input:hover {
  background-color: white;
  transform: scale(1.02);
}
#input::placeholder {
  color: black;
}
#add-button {
  color: white;
  background-color: #fb3640;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 25%;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.5s;
}
#add-button:hover {
  color: white;
  background-color: #18a999;
  transform: scale(1.05);
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 50%;
  width: 100%;
}
.tasks h3 {
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: #fb3640;
  color: white;
  padding: 5px 12px;
}
#tasks-list {
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.347);
  height: 60%;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .tasks h3 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 530px) {
  .align {
    height: 90%;
  }

  h1 {
    font-size: 2.5rem;
  }
  .input-button {
    flex-direction: column;
    align-items: center;
  }
  #add-button {
    width: 100%;
  }
  .tasks h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 2rem;
  }
}
